# Python cache and virtual environment
__pycache__/
_vit_rep_py310/

# VSCode settings
.vscode/

# secret credentials
.env

# Logs
logs/
*.log

# Datasets and large files
data/
outputs/

# model checkpoints
checkpoints/

# extra dumps
extras/

#wandb logs
wandb/
wandb_runids/